html, body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F3F2EF;
    width: 100vw;
    overflow-x: hidden;
}

.feed {
    width: 782px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    vertical-align: baseline;
}

.feed .imgplaceholder {
    margin-bottom: 16px;
    width: 782px;
}

.login-or-repos {
    margin-top: 8px;
}

.githubcard {
    width: 100%;
    background-clip: border-box;
    border-radius: 8px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 16px;
}

.githubcard-contents {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.githubcard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}

.githubcard-header span {
    padding-left: 10px;
}

.githubcard-header img {
    width: 40px;
    height: 40px;
}

.repo-view {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 16px;
    margin-bottom: 8px;
}

.repo-name {
    color: rgb(36, 41, 47);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.repo-name a {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(36, 41, 47);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.repo-name a:hover {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

.repo-description {
    color: rgb(87, 96, 106);
    margin-top: 4px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.repo-circle-language {
    display: flex;
    flex-direction: row;
    color: rgb(87, 96, 106);
    margin-right: 16px;
    align-items: center;
}



.repo-star {
    width: 16px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 4px;
}

.repo-star-details {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: rgb(87, 96, 106);
    margin-right: 16px;
    font-size: 12px;
    line-height: 18px;
}

.repo-green-circle {
    height: 12px;
    width: 12px;
    background-color: rgb(23, 134, 0);
    border-radius: 50%;
    display: inline-block;
    border: rgba(27, 31, 36, 0.1);
}

.repo-language {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 2px;
}

.repo-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.repo-update-at {
    font-size: 12px;
    line-height: 18px;
}

.repo-star {
    color:rgba(27, 31, 36, 0.9) ;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}